# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://neondb_owner:npg_Jbk8RdolP4XC@ep-shiny-sound-a2e0rotx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_SECRET=VOTRE_SECRET_TRES_COMPLIQUE_ET_LONG
JWT_EXPIRATION=365d # Expiration du token (ex: 60s, 10m, 1d)

# Variables SMTP pour l'envoi d'e-mails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=cabrelniamekon@gmail.com    # Ton adresse email
SMTP_PASS=gtyerqffcrvuznre 
SMTP_FROM=noreply@fortibone.com

# --- Configuration du stockage de fichiers ---
# Options: 'local' (pour le développement) ou 'cloudinary' (pour la production)
FILE_STORAGE_PROVIDER=local

# --- Variables pour Cloudinary (si FILE_STORAGE_PROVIDER=cloudinary) ---
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

STRIPE_API_KEY=sk_test_51PBf5wRqgxgrSOxzF9z29YdKW904rqOJolG7oSpWa2zhrWa8cZ3ifCQnPe2Q1zMphdQxmNSb2nYIvNoxmgd5E74f00F9V1Kr3r
STRIPE_WEBHOOK_SECRET=whsec_68cb709549e0fda22f7df8ad18450ce97220f1dee72fbbd1208a895f4d09e6b5
APP_BASE_URL=https://dash.fortibtech.com # Votre URL de base du frontend

# --- Mvola Configuration (CORRIGÉE SELON LA DOC) ---
MVOLA_API_BASE_URL=https://devapi.mvola.mg/mvola/mm/transactions/type/merchantpay/1.0.0/ # Base pour les transactions
MVOLA_AUTH_URL=https://devapi.mvola.mg/mvola/oauth/token # Exemple d'URL d'authentification (à confirmer si elle est différente)
MVOLA_CLIENT_ID=pT2k2eNo71VKZYYYRM77aBPeig8a
MVOLA_CLIENT_SECRET=jzaWfGgTb5dApgGgEIMfKttvhzsa
MVOLA_MERCHANT_MSISDN=0340017983 # Le MSISDN (numéro de téléphone) de votre compte marchand
MVOLA_MERCHANT_NAME="FortiBone" # Le nom du partenaire/marchand
MVOLA_CALLBACK_URL=https://dash.fortibtech.com/payments/mvola/webhook # L'URL où Mvola enverra les notifications
MVOLA_WEBHOOK_SECRET=your_mvola_webhook_secret # Clé de signature (si Mvola supporte)

